$color-primary: #5057EA;
$color-primary-dark: #5453EA;
$color-background: #FFFF;
$color-border: #E5E7EB  ;
$font-stack: __Inter_16cfb7, __Inter_Fallback_16cfb7, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$color-text: #000;
$color-primary-text:#FFF