@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    border: 0px;
    margin: 0px;
    box-sizing: border-box;
   /*  font-family: '__Inter_16cfb7', '__Inter_Fallback_16cfb7', ui-sans-serif, system-ui, sans-serif,
        'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji'; */
     font-family: "Inter", sans-serif;
}
